
#header {
    font-size: 60px;
    font-family:'Parkavenue', monospace;
    font-style:initial;
    color:white;
    /* background-color: aqua; */
    margin:0 0 0 0;
    
}

#atribut {
    font-size: 25px;
    /* background-color:lightcyan; */
    margin:0 0 1em 0;
    font-family:'Parkavenue', monospace;
    color: #020215;
    
}


#hiasan {
    background: rgb(233,76,161);
    background: -moz-linear-gradient(90deg, #10323A 0%, #3ABA9B 100%);
    background: -webkit-linear-gradient(90deg, #10323A 0%, #3ABA9B 100%);
    background: linear-gradient(90deg, #10323A 0%, #3ABA9B 100%);
}

body {
    background: linear-gradient(to right, #2B7983, #10323A);
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

#kelihatan{
    color: aliceblue;
    font-size:x-large;
}

#container{
    /* background-color: #3ABA9B; */
    /* background: linear-gradient(90deg, #10323A 0%, #3ABA9B 100%); */
    /* background: -webkit-linear-gradient(90deg, #10323A 0%, #3ABA9B 100%); */
    background: aliceblue;
}

img {
    width: 100%;
    height: 100%;
    
}

.bg-black {
    background: #000
}

.skill-block {
    width: 30%
}

@media (min-width: 991px) and (max-width:1200px) {
    .skill-block {
        padding: 32px !important
    }
}

@media (min-width: 1200px) {
    .skill-block {
        padding: 56px !important
    }
}

body {
    background-color: #eeeeee
}


