
#header {
    font-size: 50px;
    font-family:'Parkavenue', monospace;
    font-style:initial;
    color:black;
    background-color: aqua;
    margin:1em 0 0 0;
    
}

#atribut {
    font-size: 25px;
    background-color:lightcyan;
    margin:0 0 1em 0;
    font-family:'Parkavenue', monospace;
}
