{% extends 'base_artikel.html' %}
{% block title %} Daftar Artikel {% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<div class="container">
  <div class="section">
    <h4> Artikel </h4>
    <hr class="rounded">
    <p id="tambah">Apabila Anda admin rumah sakit, Anda dapat menambah artikel dengan mengeklik tombol
      <b> 
        <a class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" href="{% url 'tambah_artikel' %}">Tambah</a>
      </b>
    </p>
    <br>
       
    {% for artikel in artikels %} 
    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="judul">
            <div class="container">
              <br>
              <h1><strong>{{ artikel.judul }} </strong></h1>
              <p class="tulisan"> {{ artikel.penulis }} ({{ artikel.asal_rumah_sakit }})-{{ artikel.tanggal_pembuatan }}</p>
              <br>
            </div>
          </div>  
          <div class="card-content">
            <div class="container">
              <p class="tulisan1"> {{ artikel.isi }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% endfor %}

  </div>
</div>

{% endblock %}
