{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:600">
    <!-- WOI GHANI -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='{% static "test_artikel.css" %}' rel='stylesheet'>
    
    <title>Tambah Artikel</title>
    <style>
      #jumlah_artikel {
        font-family: Calibri;
        text-align:justify;
        color: white;
        font-size: xx-large ;
        /* background-color: red; */
      }
    </style>
</head>
<body>

    <div class="container">
        <p class="tambahArtikel">Tambah Artikelmu</p>
        <div class="row">
            <div class="col-lg-12 col-xl-15 mx-auto">                
                <form action='' method='POST' id='artikel_baru'> {% csrf_token %}
                    <table>
      
                        <!-- {{ form }} -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="penulis" id="penulis" placeholder="Penulis">
                            <label for="floatingInput">Penulis</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="asal_rumah_sakit" id="asal_rumah_sakit" placeholder="Asal Rumah Sakit">
                            <label for="floatingInput">Asal Rumah Sakit</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="judul" id="judul" placeholder="Judul">
                            <label for="floatingInput">Judul</label>
                        </div>

                        <div class="form-floating mb-3">
                            <!-- <input type="text" class="form-control" name="isi" id="floatingInput" placeholder="Content" height="500"> -->
                            <textarea  name="isi" placeholder="Isi" rows="12" id="isi"></textarea>
                            <!-- <label for="floatingInput">Content</label> -->
                        </div>

                        <div class="d-grid mb-2">
                            <input type="submit" class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" value="Submit"> 
                        </div>

                        <div class="d-grid mb-2">
                          <button type="button" class="btn">
                              <a href="/article/" class="btn btn-lg btn-secondary btn-login fw-bold text-uppercase">Kembali</a>
                          </button>
                      </div>

                        <br>
                    </table>
                </form>

                <div>
                  <button onclick="peringatan()" class="button">Perhatian</button>
                  <br>
                  <br>
                  <p id="jumlah_artikel"></p>   

                </div>

                <!-- WOI GHANI -->
                
                <br>
                <div class="alert alert-success text-center" role="alert" id="berhasil" style="display: none">

                </div>
                <div class="alert alert-danger text-center" role="alert" id="gagal" style="display: none">

                </div>
            </div>
        </div>
    </div>
</body>

<script>
  function peringatan(){
  var txt;
  txt = "Semua artikel ditulis oleh pihak rumah sakit. Segala informasi yang terkandung di dalam artikel di luar tanggung jawab Hermitage.";
  document.getElementById("jumlah_artikel").innerHTML = txt;
  var tombol = document.getElementById("jumlah_artikel");
  var displaySetting = tombol.style.display;
  var statusTombol = document.getElementById("statusTombol");

  if (displaySetting=='block'){
    tombol.style.display = 'none';
    statusTombol.innerHTML= 'Lihat';
  }
  else{
    tombol.style.display = 'block';
    statusTombol.innerHTML = 'Sembunyikan';
  }
  }

</script>
  

<!-- WOI GHANI -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'interaktif.js' %}"></script>

</html>