<header id="header" class="d-flex align-items-center"style="background-color: #030315;">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo" ><a href="/">Hermitage</a></h1-->

        <!-- kalo mau ada navbar, disini-->
        <nav id="navbar" class="navbar">

            <style>
            #navbar{
                padding-left: 200px;
                float: right;
            }
            #link{
                font-size: medium;
                padding-right: 50px;
            }
            </style>

            <a href="/" id = "link">Home</a>
            <a href="/article" id = "link">Artikel</a>
            <a href="/bed-rumahsakit" id = "link">Bed</a>
            <a href="/vaksin-rumahsakit" id = "link">Vaksin</a>
            <a href="/acc/register" id = "link">Register</a>
            <a href="/acc/login" id = "link">Login</a>
            <!--a href="#contact" id = "link">Profile</a-->

        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
