/* *************Tag*********************** */
body{
    
    width: 100%;
}
p{
    margin-bottom: 0;
    padding-top: 2em;
}
h3{
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.self-gambar{
    background-image:url(assets/images/background.png) ;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* *************Navbar*********************** */
.logo{
    margin-top: 5% !important;
}
#link{
    margin-bottom: 5% !important;
    
}
.self-nav{
    background-image:url(assets/images/background.png) ;
    border-radius: 0.5%;
    margin-right: 0 !important;
}
.self-bar{
    margin-top: 6%;
    margin-bottom: 10%;
    

    
}
.self-words{
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    margin:0 10px;
    color: white !important;
}

/* *************User*********************** */
.putih{
    color: aliceblue;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

/* *************Card*********************** */
.self-title{
    
}
.self-card{
    text-align: center;
    margin: 40px 15px 15px 15px ;
    

}
.self-img{
    width: 10em;
    height: 10em;
    display: block;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    
}
.self-btn{
    background-color: #2B7983;
    border-color: #2B7983;
    font-family: 'Open Sans', sans-serif !important;
}

.self-btn:hover{
    background-color: #29656d !important;
    border-color: #29656d !important;
    font-family: 'Open Sans', sans-serif !important;
}
.katalog{
    padding-bottom: 10em;
}
/* *************form*********************** */
.form-group{
    margin: 0 1.5em;
    color: white;
}
.self-btn-form{
    margin: 0 15.4em;
    padding: 0.3em 4.5em;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif ;
    
}
/* *************Footer*********************** */
footer{
    
    text-align: center;
    
    position: static;
    bottom: 0;
    
    margin-top: 1em;
    color: white;
    
    
  
    
}
.self-footer{
    background-color: #10323A;
    padding-left: 3rem;
    
}
.self-user{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important;
    font-size: 45px !important;
}