/* THIS IS THE CORRECT BUILD */
.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:3254px;
  min-width:200px;
  max-width:1920px;
  margin:auto;
  background-color:#ffffff;
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.background{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:3254px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:3254px;
  content:url(assets/images/background.png);
}
.background-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.navbar{
  position:relative;
  z-index:30;
  pointer-events:none;
  margin-left:1241px;
  width:609px;
  min-width:609px;
  height:34px;
  margin-top:-3190px;
  margin-bottom:3156px;
  min-height:34px;
}
.navbar-outer{
  pointer-events:none;
  z-index:30;
  position:relative;
  display:flex;
}
.Vector{
  position:relative;
  z-index:31;
  pointer-events:none;
  margin-left:-1188px;
  width:1448px;
  min-width:1448px;
  height:192px;
  margin-top:-35px;
  margin-bottom:-123px;
  min-height:192px;
  content:url(assets/images/Vector.png);
  visibility:hidden;
}
.Vector-outer{
  pointer-events:none;
  z-index:31;
  position:relative;
  display:flex;
}
.Frame-225{
  position:relative;
  z-index:32;
  pointer-events:none;
  margin-left:0px;
  width:609px;
  min-width:609px;
  height:34px;
  margin-top:-34px;
  margin-bottom:0px;
  min-height:34px;
}
.Frame-225-outer{
  pointer-events:none;
  z-index:32;
  position:relative;
  display:flex;
}
.LOGIN-1{
  position:relative;
  z-index:38;
  pointer-events:auto;
  cursor:pointer;
  min-width:65px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.LOGIN-1-outer{
  pointer-events:none;
  z-index:38;
  position:relative;
  display:flex;
}
.LOGIN-1-url{
  text-decoration:none;
  margin-left:544px;
  width:65px;
  margin-top:0px;
  margin-bottom:0px;
}
.REGISTER{
  position:relative;
  z-index:37;
  pointer-events:auto;
  cursor:pointer;
  min-width:91px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.REGISTER-outer{
  pointer-events:none;
  z-index:37;
  position:relative;
  display:flex;
}
.REGISTER-url{
  text-decoration:none;
  margin-left:415px;
  width:91px;
  margin-top:-34px;
  margin-bottom:0px;
}
.VAKSIN{
  position:relative;
  z-index:36;
  pointer-events:auto;
  cursor:pointer;
  min-width:80px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.VAKSIN-outer{
  pointer-events:none;
  z-index:36;
  position:relative;
  display:flex;
}
.VAKSIN-url{
  text-decoration:none;
  margin-left:297px;
  width:80px;
  margin-top:-34px;
  margin-bottom:0px;
}
.BED{
  position:relative;
  z-index:35;
  pointer-events:auto;
  cursor:pointer;
  min-width:43px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.BED-outer{
  pointer-events:none;
  z-index:35;
  position:relative;
  display:flex;
}
.BED-url{
  text-decoration:none;
  margin-left:216px;
  width:43px;
  margin-top:-34px;
  margin-bottom:0px;
}
.ARTIKEL{
  position:relative;
  z-index:34;
  pointer-events:auto;
  cursor:pointer;
  min-width:77px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.ARTIKEL-outer{
  pointer-events:none;
  z-index:34;
  position:relative;
  display:flex;
}
.ARTIKEL-url{
  text-decoration:none;
  margin-left:101px;
  width:77px;
  margin-top:-34px;
  margin-bottom:0px;
}
.HOME{
  position:relative;
  z-index:33;
  pointer-events:auto;
  cursor:pointer;
  min-width:63px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.HOME-outer{
  pointer-events:none;
  z-index:33;
  position:relative;
  display:flex;
}
.HOME-url{
  text-decoration:none;
  margin-left:0px;
  width:63px;
  margin-top:-34px;
  margin-bottom:0px;
}
.welcome-center{
  position:relative;
  z-index:39;
  pointer-events:none;
  margin-left:394px;
  width:1132px;
  min-width:1132px;
  height:455px;
  margin-top:-3025px;
  margin-bottom:2570px;
  min-height:455px;
}
.welcome-center-outer{
  pointer-events:none;
  z-index:39;
  position:relative;
  display:flex;
}
.WELCOME-2{
  position:relative;
  z-index:44;
  pointer-events:none;
  opacity:0.019999999552965164;
  margin-left:383px;
  width:454.15px;
  min-width:454.15px;
  margin-top:0px;
  margin-bottom:373px;
  min-height:82px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:800;
  font-size:70px;
  line-height:106px;
}
.WELCOME-2-outer{
  pointer-events:none;
  z-index:44;
  position:relative;
  display:flex;
}
.WELCOME-1{
  position:relative;
  z-index:45;
  pointer-events:none;
  opacity:0.10000000149011612;
  margin-left:383px;
  width:454.15px;
  min-width:454.15px;
  margin-top:-427px;
  margin-bottom:345px;
  min-height:82px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:800;
  font-size:70px;
  line-height:106px;
}
.WELCOME-1-outer{
  pointer-events:none;
  z-index:45;
  position:relative;
  display:flex;
}
.WELCOME{
  position:relative;
  z-index:46;
  pointer-events:none;
  margin-left:383px;
  width:454.15px;
  min-width:454.15px;
  margin-top:-398px;
  margin-bottom:316px;
  min-height:82px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:800;
  font-size:70px;
  line-height:106px;
}
.WELCOME-outer{
  pointer-events:none;
  z-index:46;
  position:relative;
  display:flex;
}
.Di-masa-pandemi-COVI{
  position:relative;
  z-index:43;
  pointer-events:none;
  margin-left:0px;
  width:1132px;
  min-width:1132px;
  margin-top:-265px;
  margin-bottom:121px;
  min-height:144px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:18px;
  line-height:27px;
}
.Di-masa-pandemi-COVI-outer{
  pointer-events:none;
  z-index:43;
  position:relative;
  display:flex;
}
.tombol-login{
  position:relative;
  z-index:40;
  pointer-events:none;
  margin-left:488px;
  width:157px;
  min-width:157px;
  height:63px;
  margin-top:-63px;
  margin-bottom:0px;
  min-height:63px;
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.tombol-login-outer{
  pointer-events:none;
  z-index:40;
  position:relative;
  display:flex;
}
.Rectangle-1{
  position:relative;
  z-index:41;
  pointer-events:none;
  margin-left:0px;
  width:157px;
  min-width:157px;
  height:63px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:63px;
  background-color:rgba(84, 219, 204, 1);
  border-radius:10.42758560180664px;
}
.Rectangle-1-outer{
  pointer-events:none;
  z-index:41;
  position:relative;
  display:flex;
}
.LOGIN{
  position:relative;
  z-index:42;
  pointer-events:none;
  margin-left:34px;
  width:97px;
  min-width:97px;
  margin-top:-58px;
  margin-bottom:10px;
  min-height:48px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(2, 2, 21, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:32px;
  line-height:48px;
}
.LOGIN-outer{
  pointer-events:none;
  z-index:42;
  position:relative;
  display:flex;
}
.Frame-167{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:975px;
  margin-top:-2281px;
  margin-bottom:1306px;
  min-height:975px;
}
.Frame-167-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.decor-1{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:982.84px;
  margin-top:983px;
  margin-bottom:-990.8400000000001px;
  min-height:982.84px;
}
.decor-1-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.bg-1{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:975px;
  margin-top:-983px;
  margin-bottom:990.8400000000001px;
  min-height:975px;
  background-color:rgba(16, 50, 58, 1);
}
.bg-1-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.lava1{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:34px;
  width:652.89px;
  min-width:652.89px;
  height:918.6px;
  margin-top:-1893.8400000000001px;
  margin-bottom:975.2400000000002px;
  min-height:918.6px;
  content:url(assets/images/lava1.png);
}
.lava1-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.glove{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:414px;
  width:600.81px;
  min-width:600.81px;
  height:668.82px;
  margin-top:-1832.8400000000001px;
  margin-bottom:1164.02px;
  min-height:668.82px;
  content:url(assets/images/glove.png);
}
.glove-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.KATALOG-BED{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:1062px;
  width:356.83px;
  min-width:356.83px;
  margin-top:-1674.8400000000001px;
  margin-bottom:1592.8400000000001px;
  min-height:82px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:45px;
  line-height:68px;
}
.KATALOG-BED-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.swatch{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:1435px;
  width:215.25px;
  min-width:215.25px;
  height:303px;
  margin-top:-1662.8400000000001px;
  margin-bottom:1359.8400000000001px;
  min-height:303px;
}
.swatch-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.Rectangle-122{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:0px;
  width:215.25px;
  min-width:215.25px;
  height:167px;
  margin-top:-303px;
  margin-bottom:439px;
  min-height:167px;
  background-color:rgba(43, 121, 131, 1);
}
.Rectangle-122-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.Rectangle-124{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:0px;
  width:215.25px;
  min-width:215.25px;
  height:56px;
  margin-top:-423px;
  margin-bottom:367px;
  min-height:56px;
  background-color:rgba(53, 147, 159, 1);
}
.Rectangle-124-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.Rectangle-123{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:0px;
  width:215.25px;
  min-width:215.25px;
  height:31px;
  margin-top:-334px;
  margin-bottom:303px;
  min-height:31px;
  background-color:rgba(109, 226, 184, 1);
}
.Rectangle-123-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.Temukan-bed-bed-yang{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:1062px;
  width:356.83px;
  min-width:356.83px;
  margin-top:-1530.8400000000001px;
  margin-bottom:1249.8400000000001px;
  min-height:281px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:26px;
  line-height:39px;
}
.Temukan-bed-bed-yang-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.tombol-next{
  position:relative;
  z-index:15;
  pointer-events:auto;
  cursor:pointer;
  min-width:215px;
  min-height:63px;
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width:100%;
  height:100%;
}
.tombol-next-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.tombol-next-url{
  text-decoration:none;
  margin-left:1062px;
  width:215px;
  height:63px;
  margin-top:-1344.8400000000001px;
  margin-bottom:1281.8400000000001px;
}
.Rectangle-1-1{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:0px;
  width:215px;
  min-width:215px;
  height:63px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:63px;
  background-color:rgba(16, 50, 58, 1);
  border:3px solid rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-radius:10.42758560180664px;
}
.Rectangle-1-1-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Continue-1{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:33px;
  width:150px;
  min-width:150px;
  margin-top:-56px;
  margin-bottom:8px;
  min-height:48px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:32px;
  line-height:48px;
}
.Continue-1-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.Frame-168{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:975px;
  margin-top:-1309px;
  margin-bottom:334px;
  min-height:975px;
}
.Frame-168-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.Rectangle-139{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:779px;
  margin-top:0px;
  margin-bottom:196px;
  min-height:779px;
  background-color:rgba(16, 50, 58, 1);
}
.Rectangle-139-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.Rectangle-140{
  position:relative;
  z-index:29;
  pointer-events:none;
  margin-left:-22px;
  width:1584px;
  min-width:1584px;
  height:337px;
  margin-top:-3px;
  margin-bottom:-334px;
  min-height:337px;
  background-color:rgba(10, 41, 48, 1);
}
.Rectangle-140-outer{
  pointer-events:none;
  z-index:29;
  position:relative;
  display:flex;
}
.decor{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:0px;
  width:1989.05px;
  min-width:1989.05px;
  height:975.47px;
  margin-top:0px;
  margin-bottom:-975.4700000000003px;
  min-height:975.47px;
}
.decor-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.bg{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:975px;
  margin-top:-975px;
  margin-bottom:975.4700000000003px;
  min-height:975px;
  background-color:rgba(10, 41, 48, 1);
}
.bg-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.lava2{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:1241px;
  width:679px;
  min-width:679px;
  height:977.47px;
  margin-top:-1944.47px;
  margin-bottom:967px;
  min-height:977.47px;
  content:url(assets/images/lava2.png);
}
.lava2-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.vax{
  position:relative;
  z-index:28;
  pointer-events:none;
  margin-left:770px;
  width:570.94px;
  min-width:570.94px;
  height:688.97px;
  margin-top:-1752.47px;
  margin-bottom:1063.5px;
  min-height:688.97px;
  content:url(assets/images/vax.png);
}
.vax-outer{
  pointer-events:none;
  z-index:28;
  position:relative;
  display:flex;
}
.KATALOG-VAKSIN{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:325px;
  width:356.83px;
  min-width:356.83px;
  margin-top:-1621.47px;
  margin-bottom:1477.4700000000003px;
  min-height:144px;
  text-align:right;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:45px;
  line-height:68px;
}
.KATALOG-VAKSIN-outer{
  pointer-events:none;
  z-index:26;
  position:relative;
  display:flex;
}
.Temukan-vaksin-yang-{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:325px;
  width:356.83px;
  min-width:356.83px;
  margin-top:-1477.47px;
  margin-bottom:1196.4700000000003px;
  min-height:281px;
  text-align:right;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:26px;
  line-height:39px;
}
.Temukan-vaksin-yang--outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.Rectangle-2{
  position:relative;
  z-index:24;
  pointer-events:auto;
  cursor:pointer;
  min-width:247.48px;
  min-height:63px;
  background-color:rgba(16, 50, 58, 1);
  border:3px solid rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-radius:10.42758560180664px;
  width:100%;
  height:100%;
}
.Rectangle-2-outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.Rectangle-2-url{
  text-decoration:none;
  margin-left:434px;
  width:247.48px;
  height:63px;
  margin-top:-1295.47px;
  margin-bottom:1232.4700000000003px;
}
.Continue{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:472px;
  width:172.66px;
  min-width:172.66px;
  margin-top:-1288.47px;
  margin-bottom:1240.4700000000003px;
  min-height:48px;
  text-align:right;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:32px;
  line-height:48px;
}
.Continue-outer{
  pointer-events:none;
  z-index:27;
  position:relative;
  display:flex;
}
.gradient{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:-84px;
  width:1920px;
  min-width:1920px;
  height:173px;
  margin-top:-1110.47px;
  margin-bottom:937.4700000000003px;
  min-height:173px;
  background:linear-gradient(0deg, rgba(10, 41, 48, 1) 20.809247577428028%, rgba(10, 41, 48, 0) 82.08092100700154%);
  visibility:hidden;
}
.gradient-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.Group-225{
  position:relative;
  z-index:47;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:337px;
  margin-top:-337px;
  margin-bottom:0px;
  min-height:337px;
}
.Group-225-outer{
  pointer-events:none;
  z-index:47;
  position:relative;
  display:flex;
}
.Rectangle-141{
  position:relative;
  z-index:48;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:337px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:337px;
  background-color:rgba(0, 0, 0, 1);
}
.Rectangle-141-outer{
  pointer-events:none;
  z-index:48;
  position:relative;
  display:flex;
}
.kotak-masukan{
  position:relative;
  z-index:52;
  pointer-events:none;
  margin-left:1578px;
  width:339.92px;
  min-width:339.92px;
  margin-top:-267px;
  margin-bottom:123px;
  min-height:144px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:30px;
  line-height:46px;
}
.kotak-masukan-outer{
  pointer-events:none;
  z-index:52;
  position:relative;
  display:flex;
}
.click-here-to-fill-t{
  position:relative;
  z-index:53;
  pointer-events:auto;
  cursor:pointer;
  min-width:339.92px;
  min-height:144px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:300;
  font-size:16px;
  line-height:25px;
}
.click-here-to-fill-t-outer{
  pointer-events:none;
  z-index:53;
  position:relative;
  display:flex;
}
.click-here-to-fill-t-url{
  text-decoration:none;
  margin-left:1580px;
  width:339.92px;
  margin-top:-225px;
  margin-bottom:81px;
}
.Group-227{
  position:relative;
  z-index:49;
  pointer-events:none;
  margin-left:1659px;
  width:194.08px;
  min-width:194.08px;
  height:177px;
  margin-top:-208px;
  margin-bottom:31px;
  min-height:177px;
}
.Group-227-outer{
  pointer-events:none;
  z-index:49;
  position:relative;
  display:flex;
}
.mail--1--1{
  position:relative;
  z-index:51;
  pointer-events:none;
  margin-left:0px;
  width:194.08px;
  min-width:194.08px;
  height:177px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:177px;
  content:url(assets/images/mail__1__1.png);
}
.mail--1--1-outer{
  pointer-events:none;
  z-index:51;
  position:relative;
  display:flex;
}
.Rectangle-142{
  position:relative;
  z-index:50;
  pointer-events:none;
  margin-left:27px;
  width:143.29px;
  min-width:143.29px;
  height:107.7px;
  margin-top:-141px;
  margin-bottom:33.30000000000018px;
  min-height:107.7px;
  background-color:rgba(203, 197, 195, 1);
}
.Rectangle-142-outer{
  pointer-events:none;
  z-index:50;
  position:relative;
  display:flex;
}
