label{
    color: #4a919e;
}

h5{
    color: #004a57;
}

h3{
    text-align: center;
    color: azure;
}

body {
    background: linear-gradient(to right, #2B7983, #10323A);
}

.card-img-left {
    width: 35%;
    /* Link to your background image using in the property below! */
    background: scroll center url(assets/images/background.png);
    background-size: cover;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.login {
    min-height: 100vh;
}

.bg-image {
    background-image: url(assets/images/background.png);
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.LOGIN-1{
    position:relative;
    z-index:38;
    pointer-events:auto;
    cursor:pointer;
    min-width:65px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.LOGIN-1-outer{
    pointer-events:none;
    z-index:38;
    position:relative;
    display:flex;
    }
.LOGIN-1-url{
    text-decoration:none;
    margin-left:544px;
    width:65px;
    margin-top:0px;
    margin-bottom:0px;
    }
.REGISTER{
    position:relative;
    z-index:37;
    pointer-events:auto;
    cursor:pointer;
    min-width:91px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.REGISTER-outer{
    pointer-events:none;
    z-index:37;
    position:relative;
    display:flex;
    }
.REGISTER-url{
    text-decoration:none;
    margin-left:415px;
    width:91px;
    margin-top:-34px;
    margin-bottom:0px;
    }
.VAKSIN{
    position:relative;
    z-index:36;
    pointer-events:auto;
    cursor:pointer;
    min-width:80px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.VAKSIN-outer{
    pointer-events:none;
    z-index:36;
    position:relative;
    display:flex;
    }
.VAKSIN-url{
    text-decoration:none;
    margin-left:297px;
    width:80px;
    margin-top:-34px;
    margin-bottom:0px;
    }
.BED{
    position:relative;
    z-index:35;
    pointer-events:auto;
    cursor:pointer;
    min-width:43px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.BED-outer{
    pointer-events:none;
    z-index:35;
    position:relative;
    display:flex;
    }
.BED-url{
    text-decoration:none;
    margin-left:216px;
    width:43px;
    margin-top:-34px;
    margin-bottom:0px;
    }
.ARTIKEL{
    position:relative;
    z-index:34;
    pointer-events:auto;
    cursor:pointer;
    min-width:77px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.ARTIKEL-outer{
    pointer-events:none;
    z-index:34;
    position:relative;
    display:flex;
    }
.ARTIKEL-url{
    text-decoration:none;
    margin-left:101px;
    width:77px;
    margin-top:-34px;
    margin-bottom:0px;
    }
.HOME{
    position:relative;
    z-index:33;
    pointer-events:auto;
    cursor:pointer;
    min-width:63px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.HOME-outer{
    pointer-events:none;
    z-index:33;
    position:relative;
    display:flex;
    }
.HOME-url{
    text-decoration:none;
    margin-left:0px;
    width:63px;
    margin-top:-34px;
    margin-bottom:0px;
    }
.header {
    font-size: 60px;
    font-family:'Parkavenue', monospace;
    font-style:initial;
    color:white;
    margin:1em  0 0;
    }