body {
    background: linear-gradient(to right, #2B7983, #10323A);
}

#container{
    background: white;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 15px 8px 0 rgba(0,0,0,0.2);
    transition: 1s;
    border-radius: 25px; /* 5px rounded corners */
    height: auto;
    width:fit-content;
    /* margin: 25px 25px 25px 25px; */
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
.container {
padding: 2px 10px;
width: 1500px ;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
border-radius: 10px 5px 0 0;
}

h4{
  color: white;
  font-size:50px;
  text-align: center;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

#tambah{
  color: white;
  font-size: 20px;
}

.judul{
  font-family: monospace;
  font-size: xx-large;
  margin: 50px 20px 10px 20px; 
}

.tulisan{
  font-family: monospace ;
  font-size:large;
  text-align: justify;
  /* margin: 25px 25px 25px 25px;  */
}

.tulisan1{
  font-family:Calibri ;
  text-align: justify;
  font-size: x-large;
  white-space:pre-line;
  margin: 0 0 100px 0; 
  /* display: contents; */
}

/* .tulisan2{
  font-family: Calibri;
  text-align:justify;
  color: white;
  font-size: x-large;
} */
  
.button{
  /* color: black; 
  size: large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" */
  background-color:red;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 0px;
  cursor: pointer;
}
